[submodule "vim/vim/bundle/fugitive"]
    path = vim/vim/bundle/fugitive
    url = http://github.com/tpope/vim-fugitive.git
    ignore = dirty
[submodule "vim/vim/bundle/snipmate"]
    path = vim/vim/bundle/snipmate
    url = https://github.com/msanders/snipmate.vim.git
    ignore = dirty
[submodule "vim/vim/bundle/git"]
    path = vim/vim/bundle/git
    url = https://github.com/tpope/vim-git.git
    ignore = dirty
[submodule "vim/vim/bundle/supertab"]
    path = vim/vim/bundle/supertab
    url = https://github.com/ervandew/supertab.git
    ignore = dirty
[submodule "vim/vim/bundle/command-t"]
    path = vim/vim/bundle/command-t
    url = https://github.com/wincent/Command-T.git
    ignore = dirty
[submodule "vim/vim/bundle/ack"]
    path = vim/vim/bundle/ack
    url = https://github.com/mileszs/ack.vim.git
    ignore = dirty
[submodule "vim/vim/bundle/pydoc"]
    path = vim/vim/bundle/pydoc
    url = https://github.com/fs111/pydoc.vim.git
    ignore = dirty
[submodule "vim/vim/bundle/pep8"]
    path = vim/vim/bundle/pep8
    url = https://github.com/vim-scripts/pep8.git
    ignore = dirty
[submodule "vim/vim/bundle/makegreen"]
    path = vim/vim/bundle/makegreen
    url = https://github.com/reinh/vim-makegreen
    ignore = dirty
[submodule "vim/vim/bundle/tasklist"]
    path = vim/vim/bundle/tasklist
    url = https://github.com/vim-scripts/TaskList.vim.git
    ignore = dirty
[submodule "vim/vim/bundle/nerdtree"]
    path = vim/vim/bundle/nerdtree
    url = https://github.com/vim-scripts/The-NERD-tree.git
    ignore = dirty
[submodule "vim/vim/bundle/pyflakes-vim"]
    path = vim/vim/bundle/pyflakes-vim
    url = https://github.com/heckj/pyflakes-vim.git
    ignore = dirty
[submodule "vim/vim/bundle/vim-taglist"]
    path = vim/vim/bundle/vim-taglist
    url = https://github.com/rphillips/vim-taglist.git
    ignore = dirty
[submodule "vim/vim/bundle/nerdcomments"]
    path = vim/vim/bundle/nerdcomments
    url = https://github.com/vim-scripts/The-NERD-Commenter.git
    ignore = dirty
[submodule "vim/vim/bundle/pydiction"]
    path = vim/vim/bundle/pydiction
    url = https://github.com/vim-scripts/Pydiction.git
    ignore = dirty
[submodule "vim/vim/bundle/minibufexpl"]
    path = vim/vim/bundle/minibufexpl
    url = https://github.com/sontek/minibufexpl.vim.git
    ignore = dirty
[submodule "vim/vim/bundle/vim-markdown"]
    path = vim/vim/bundle/vim-markdown
    url = https://github.com/hallison/vim-markdown.git
    ignore = dirty
[submodule "vim/vim/bundle/flake8"]
    path = vim/vim/bundle/flake8
    url = https://github.com/nvie/vim-flake8.git
